<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <title>
            bets24cyber
        </title>
        <link as="script" href="/static/bets24cyber/js/vendor.js" rel="preload"/>
        <link as="script" href="/static/bets24cyber/js/app.js" rel="preload"/>
        <link as="style" href="/static/bets24cyber/css/app.css" rel="preload"/>
        <link as="script" href="/static/bets24cyber/js/manifest.js" rel="preload"/>

        <link href="/static/bets24cyber/css/app.css" rel="stylesheet"/>

    </head>
    <body>
        <noscript>
            Если вы видите этот текст, то вам стоит подключить JavaScript, потому что он у вас не работает!
        </noscript>

        <div class="layouts">

          
        </div>
        <script>
            !function(){"use strict";var o=Boolean("localhost"===window.location.hostname||"[::1]"===window.location.hostname||window.location.hostname.match(/^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/));window.addEventListener("load",function(){"serviceWorker"in navigator&&("https:"===window.location.protocol||o)&&navigator.serviceWorker.register("/static/bets24cyber/service-worker.js").then(function(o){o.onupdatefound=function(){if(navigator.serviceWorker.controller){var n=o.installing;n.onstatechange=function(){switch(n.state){case"installed":break;case"redundant":throw new Error("The installing service worker became redundant.")}}}}}).catch(function(o){console.error("Error during service worker registration:",o)})})}();
        </script>

        <script defer src="/static/bets24cyber/js/manifest.js" type="text/javascript">
        </script>
        <script defer src="/static/bets24cyber/js/vendor.js" type="text/javascript">
        </script>
        <script defer src="/static/bets24cyber/js/app.js" type="text/javascript">
        </script>
    </body>
</html>